.vscode/
.devcontainer/

# builds directories
**/build

local_test/*


__pycache__/
test
# exclude everything
pytest/savedFiles/*
# exception to the rule
!pytest/savedFiles/.gitkeep


# tests
tests/pythonTests/comparative_performance_table.csv