# General exclusions
.idea/
*.pyc
*.pyo
*.pyd
*.o
*.out
*.so
*.exe
*.log
*.tmp
*.h5
*.npz
*.nc
*.conda

# macOS cache
.DS_Store

# Windows cache
Thumbs.db

# Visual Studio Code related
.vscode/
.devcontainer/

# Build directories
build/
wheelhouse/

# Python cache
__pycache__/

# Tests
tests/pythonTests/comparative_performance_table.csv
# exclude everything
tests/dataRef/savedFiles/*
# exception to the rule
!tests/pythonTests/dataRef/savedFiles/.gitkeep

dist/
sample_data_allgo/
